[submodule "externals/NeMo"]
	path = externals/NeMo
	url = https://github.com/TRI-ML/NeMo-Cosmos.git
[submodule "externals/Megatron-LM"]
	path = externals/Megatron-LM
	url = https://github.com/TRI-ML/Megatron-LM-Cosmos.git
